@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root{
    --color-background: black;

    --color-dark--lite: #6b46aa;
    --color-dark--lite-mobil: #6b46aa;
    
    --color-text: #ffffff;
    --color-box: rgba(38, 38, 38, 0.73);

    --color-info: #d1b6ff54;
    --color-shadow-modal: 0 0 110px #d6c4ec1f;

    --color-header: rgb(26, 26, 26);
    --color-header-text: #ffffff;

    --color-menu: rgba(19, 19, 19, 0.62);

    --color-prgunta-hover-background: rgb(38, 38, 38);

    --color-background-a: #ece1ff00;
    --color-background-a-hover: #6b46aad2;

    --color-text-form-h2: #ffffff;

    --color-particles: .7;

    --color-container-nosotros: .8;

    --color-text-caja: #ffffff7b;
}
.dark-mode{
    --color-background: #eeeeeeec;

    --color-dark--lite: rgb(255, 183, 0);
    --color-dark--lite-mobil: rgb(255, 183, 0);
    
    --color-text: black;
    --color-box: white;

    --color-info: #6b46aa24;
    --color-shadow-modal: 0 0 35px #6b46aa2f;

    --color-header: white;
    --color-header-text: rgb(0, 0, 0);

    --color-menu: rgba(250, 242, 255, 0.347);

    --color-prgunta-hover-background: #f1eafd;

    --color-background-a: #ece1ff;
    --color-background-a-hover: #6b46aa82;

    --color-text-form-h2: #6b46aa;
    --color-particles: .4;

    --color-container-nosotros: 1;

    --color-text-caja: #4c4c4c;
}

#particles-js{
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: var(--color-particles);
}

body{
    user-select: none;
    background: var(--color-background);
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    cursor: pointer;
    background: var(--color-header);
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #6b46aa60;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #6b46aa;
}

/* header */

header {
    background-color: var(--color-header);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
    z-index: 11;
    transition: 1s;
    padding: 0 30px;
}

header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header a {
    text-decoration: none;
}

header .logo .blanco {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: var(--color-header);
    top: 43px;
    transition: 1s;
}

header .logo img {
    width: 50px;
    position: relative;
    top: 15px;
    transform: rotate(-45deg);
}

header h1 {
    position: relative;
    bottom: 5px;
    color: #6b46aa;
    font-family: 'Playfair Display';
}


nav ul { 
    display: flex;
    padding: 0 10px;
}

nav li{
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 50;
    padding: 7px 2px;
    list-style: none;
    cursor: pointer;
    transform: translateY(0px);
}

nav li a {
    text-decoration: none;
    color: var(--color-header-text);
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s;
}

nav li a .raya {
    width: 0%;
    height: 3.5px;
    margin: 0 auto;
    background-color: #6b46aa;
    transition: .5s;
}

nav li a:hover {
    text-decoration: none;
    color: #6b46aa;
}

nav li a:hover .raya {
    width: 90%;
}

nav li:nth-child(1) {
    animation: li 1s ease;
}

@keyframes li {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

nav li:nth-child(2) {
    animation: li 1.5s ease;
}

@keyframes li {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

nav li:nth-child(3) {
    animation: li 2s ease;
}

@keyframes li {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

nav li:nth-child(4) {
    animation: li 2.5s ease;
}

@keyframes li {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* btn */

.btnH {
    text-decoration: none;
}

.button {
    display: flex;
    padding: 8px 15px ;
    cursor: pointer;
    margin-top: -2px;
    font-size: 12px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #6b46aa;
    background-size: 300%;
    color: rgb(255, 255, 255) ;
    border: none;
    background-position: left center;
    transition: background .2s ease-out;
}
  
.button:hover {
    background-color: #884ede;
}

.modosLunaSol {
    position: absolute;
    right: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modosLunaSol .click-modos {
   position: absolute;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   cursor: pointer;
}

.modosLunaSol .click-modos:active {
    background-color: rgba(188, 188, 188, 0.846);
    filter: blur(7px);
    box-shadow: 0 0 10px  rgb(225, 225, 225);
}

.modosLunaSol .dark, .modosLunaSol .lite {
    position: absolute;
    display: none;
    color: var(--color-dark--lite);
    z-index: -2;
}

.modosLunaSol .dark {
    font-size: 1.15rem;
}

.modosLunaSol .dark.active, .modosLunaSol .lite.active {
    display: flex;
}


/* From Uiverse.io by prakashdc */ 

.ham {
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50px;
}

.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#6b46aa;
    stroke-width:4.5;
    stroke-linecap:round;
}

.ham6 .top {
    stroke-dasharray: 40 172;
}
.ham6 .middle {
    stroke-dasharray: 40 111;
}
.ham6 .bottom {
    stroke-dasharray: 40 172;
}
.ham6.active .top {
    stroke-dashoffset: -132px;
}
.ham6.active .middle {
    stroke-dashoffset: -71px;
}
.ham6.active .bottom {
    stroke-dashoffset: -132px;
}

menu {
    position: fixed;
    left: -110%;
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
    background-color: var(--color-menu);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #6b46aa95;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transition: 1s ease-in;
}

menu.active {
    left: 0;
    transition: .5s ease-out;
    animation: men 1s ease;
}

menu a {
    color: #6b46aa;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    align-items: center;
}

menu.active a:nth-child(1) {
    animation: men 1s ease;
}

@keyframes men {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

menu.active a:nth-child(2) {
    animation: men 1.5s ease;
}

@keyframes men {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

menu.active a:nth-child(3) {
    animation: men 2s ease;
}

@keyframes men {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

menu.active a:nth-child(4) {
    animation: men 2.5s ease;
}

@keyframes men {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

menu.active a:nth-child(5) {
    animation: men 3s ease;
}

@keyframes men {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.rayaA {
    width: 0;
    height: 5px;
    position: relative;
    background-color: #6b46aa;
    bottom: 50%;
    right: 10px;
    transition: .5s;
    filter: blur();
}

menu a:hover .rayaA {
    width: 115%;
}

/* text present */

.content-name {
    width: 100vw;
    cursor: default;
}

.container {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container a {
    position: relative;
    bottom: 100px;
    background-color: var(--color-background-a);
    text-decoration: none;
    color: #6b46aa;
    font-size: 11px;
    font-weight: 500;
    padding: 5px 10px;
    border: 2px solid #6b46aa;
    border-radius: 10px;
    transition: all .3s;
    animation: whats 1s ease;
}

.container a i {
    position: relative;
    top: .5px;
    color: #61a533;
}

@keyframes whats {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container a:hover {
    box-shadow: 0 0 20px var(--color-background-a-hover);
}

.container p {
    position: relative;
    bottom: 50px;
    font-size: 20px;
    text-align: center;
    width: 620px;
}

.text {
    max-width: 650px;
    color: var(--color-text);
    font-family: Helvetica;
    font-weight: 400;
    text-align: start;
    font-size: 4.522rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    animation: text1 .5s ease-out;
}


.text .span-1 {
    border: solid 1px var(--color-text);
    border-radius: 20px;
    padding: 11px 11px;
    font-size: 1.5rem;
    font-weight: 1;
    position: relative;
    bottom: 15px;
    right: 10px;
    animation: whats 1.5s ease;
}

.text .span-2 {
    border: solid 1px var(--color-text);
    border-radius: 20px;
    padding: 11px 11px;
    font-size: 1.5rem;
    font-weight: 1;
    position: relative;
    bottom: 15px;
    left: 10px;
    animation: whats 2s ease;
}

.text .span-3 {
    border: solid 1px var(--color-text);
    border-radius: 20px;
    padding: 11px 11px;
    font-size: 1.5rem;
    font-weight: 1;
    position: relative;
    right: 57px;
    bottom: 17px;
    animation: whats 2.5s ease;
}

.text .span-4 {
    position: relative;
    left: 140px;
    bottom: 155px;
    font-size: 8rem;
    color: #6b46aa;
}

.span-5 {
    position: relative;
    bottom: 135px;
    left: 130px;
}

@keyframes text1 {
    0% {
        opacity: 0;

    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;  

    }
}

/* slider */

@keyframes sliderL {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-60%);
    }
    100% {
        transform: translateX(0%);
    }
}

.logos-fluid {
    width: 100vw;
    margin: 10px auto;
    overflow: hidden;
    padding: 0px 0;
    opacity: 1;
    white-space: nowrap;
    position: relative;
    top: -65px;
    animation: opasi 5s ease;
}

@keyframes opasi {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logos-fluid::before,
.logos-fluid::after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    content: '';
    z-index: 2;
}

.logos-fluid::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0)10%, var(--color-background));
}

.logos-fluid::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0)10%, var(--color-background));
}

.logos-slider {
    display: inline-block;
    animation: 200s sliderL infinite linear;
}

.logos-slider img {
    height: 40px;
    margin: 0 50px;
    filter: grayscale(100%);
    transition: .2s;
}

.logos-slider img:hover {
    filter: grayscale(0%);
}

/* nosotros */

#nosotros {
   cursor: default;
   text-align: center; 
}

.content-nosotros {
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: bacg 30s ease infinite;
}

@keyframes bacg {
    0% {background-image: url(./img/galeria/nuevas/7cd49ee6cc6cf37f60f354c14e0ed0b2.jpg);}

    20% {background-image: url(./img/galeria/nuevas/foto-vista-superior.avif);}

    40% {background-image: url(./img/galeria/nuevas/diseno-y-desarrollo-web-senati-1800-x-1190-1.jpg);}

    60% {background-image: url(./img/galeria/nuevas/photo-1499750310107-5fef28a66643.jpeg);}

    80% {background-image: url(./img/galeria/nuevas/pngtree-coffee-headphones-laptop-and-phone-in-stunning-3d-rendering-picture-image_4787691.jpg);}  

    100% {background-image: url(./img/galeria/nuevas/shutterstock_223243018-1000x699.jpg);}  
}

.content-nosotros .efecto {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(rgba(64, 55, 68, 0.713) 50px, rgba(39, 33, 39, 0.954) 30%, #000000 85%) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: Helvetica;
    font-size: 3rem;
    font-weight: 400;
    margin-top: 50px;
    text-align: center;
    color: #6b46aa;
    font-family: 'Afacad Flux', sans-serif;
}

.cont {
    display: block;
    padding: 30px;
    text-align:justify;
    color: #ffffff;
    margin: 50px auto;
    max-width: 1000px;
}

.cont-small {
    display: none;
    padding: 30px;
    text-align:justify;
    color: #ffffff;
    margin: 50px auto;
    max-width: 1000px;
}

/* servicios */

#servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    padding: 0px;
    margin: 80px auto;
}

.no-modal {
    display: flex; 
}

.caja {
    display: flex;
    flex-direction: column;  
    justify-content: start;
    margin: 0px auto;
    gap: 50px;
    text-align: center;
}

.card-servi {
    opacity: .5;
    width: 190px;
    height: 150px;
    border-radius: 25px;
    filter: grayscale(1);
    position: relative;
    left: 0;
    bottom: 0;
    transition: .4s ease-in-out;
   
}

.card-servi:hover {
    opacity: 1;
    filter: grayscale(0);
    box-shadow: 0 0 25px #4d2f83;
    transition: 1s;
}

.card-servi.active {
    opacity: 1;
    background-color: #6b46aa;
    box-shadow: 0 0 20px #4d2f83;
    position: relative;
    left: 50px;
    filter: grayscale(0);
    transition: all .4s ease-in-out;
}

.card-servi.active span {
    color: #6b46aa;
    font-size: 14px;
}

.card-servi .info{
    background-color: var(--color-info);
    padding: 10px;
    border-radius: 25px;
    width: 190px;
    height: 150px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}


.card-servi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.caja span {
    position: relative;
    color: var(--color-text-caja);
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    z-index: 2;
    transition: .2s;
}

.caja:hover span {
    color: #6b46aa;
}

.modales {
    position: relative;
}

.modal-1 .sube, .modal-2 .sube, .modal-3 .sube {
    display: none;
    position: absolute;
    font-size: 2rem;
    color: #6b46aa;
    left: 10px;
    top: 47%;
    z-index: 2;
    transition: 1s;
    animation: arrow 1.1s linear infinite;
}

@keyframes arrow {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(-20px);
    }
}

/* modal 1*/

.modal-1 {
    cursor: default;
    box-shadow: var(--color-shadow-modal);
    background-color: var(--color-box);
    padding: 0px 50px;
    border-radius: 30px;
    max-width: 1100px;
    
    margin: 0 auto;
    display: flex;  /* flex */
    flex-direction: column;
    justify-content: center;

}

@keyframes m1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal-1 .content-ul {
    padding: 30px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin: 40px 0px;
    animation: m1 3s ease;
    
}

.modal-1 .content-ul ul {
    width: 410px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

.modal-1 .content-ul ul h4 {
    text-align: center;
    color: #6b46aa;
    font-size: 15px;
    text-transform: uppercase;
}

.modal-1 .content-ul ul li {
    border: solid 2px #6b46aa72;
    padding: 10px;
    font-size: 13px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.modal-1 .content-ul ul li i {
    font-size: 20px;
    color: #6b46aa;
}

/* modal 2 */

.modal-2 {
    cursor: default;
    display: none; /* flex */
    box-shadow: var(--color-shadow-modal);
    background-color: var(--color-box);
    padding: 49px 50px;
    border-radius: 30px;
    max-width: 1100px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.modal-2 .contentenido {
    gap: 48px;
    display: grid;
    animation: m1 3s ease;
}

.modal-2 .asesora i {
    font-size: 50px;
    color: #6b46aa;
}

.modal-2 .contentenido .grupoo-1 {
    display: flex;
    gap: 50px; 
    
}

.modal-2 .contentenido .grupoo-2  {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

/* modal 3 */

.modal-3 {
    cursor: default;
    box-shadow: var(--color-shadow-modal);
    background-color: var(--color-box);
    padding: 51.5px 50px;
    border-radius: 30px;
    max-width: 1100px;
    margin: 0 auto;
    display: none;  /* flex */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-3 .contentenido {
    gap: 59px;
    display: grid;
    animation: m1 3s ease;
}

.modal-3 .asesora i {
    font-size: 50px;
    color: #6b46aa;
}

.modal-3 .contentenido .grupoo-1 {
    display: flex;
    gap: 50px;
}

.modal-3 .contentenido .grupoo-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.asesora {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.asesora h4 {
    font-size: 15px;
    color: #6b46aa;
    text-transform: uppercase;
}

.asesora p {
    font-size: 13px;
    text-align:initial;
}
  
/* pasos */

#pasos {
    text-align: center;
    cursor: default;
    margin: 100px 0;
}

#pasos h2 {
    margin: 0px;
}

.container-pasos {  
    cursor: default;
    max-width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}

.container-pasos .pasoComun {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    gap: 20px;
}

.container-pasos .pasoComun h3 {
    text-align: center;
    color: #6b46aa;
    text-transform: uppercase;
}

.container-pasos .pasoComun p  {
    text-align: left;
    padding: 0 5px;
}

.container-pasos .paso-2 p  {
    position: relative;
    bottom: 45px;
}

.container-pasos .pasoComun i {
    font-size: 5rem;
    color: rgb(81, 159, 81);
}

.container-pasos .pasoComun p i {
    font-size: 1.2rem;
    color: rgb(1, 189, 1);
}

/* preguntas */

.container-all {
    cursor: default;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-all h2 {
    
    margin-top: 10px;
    margin-bottom: 0px;
}

.container-all a {
    text-decoration: none;
    border: solid 2px #6b46aa;
    padding: 1px 10px;
    font-size: 10px;
    border-radius: 10px;
    color: #6b46aa;
    background-color: var(--color-background-a);
    transition: .2s;
}

.container-all a i {
    color: #61a533;
    position: relative;
    opacity: 1;
    transition: .1s;
    right: 4px;
    top: 1px;
}

.container-all a:hover {
    box-shadow: 0 0 20px var(--color-background-a-hover);
}

.container-preguntas-all {
    display: flex;
    max-width: 120%;  
}

.container-preguntas-1 {
    margin: 40px;
    max-width: 800px;
    border-radius: 20px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;

}
  
.pregunta {
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    border: solid 2px #6b46aa;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.container-preguntas-1:hover > :not(:hover) {
    opacity: .4;
}
  
.pregunta:hover {
    padding: 80px;
    flex: 8;
    background: var(--color-prgunta-hover-background);
    transition: all .4s;
    border: solid 2px #6b46aa;
}

.pregunta span {
    position: relative;
    top: 30px;
    transition: .3s;
}

.pregunta:hover span {
    font-weight: 500;
    color: #6b46aa;
    position: relative;
    top: -10px;
}

.pregunta p {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 600px;
    font-size: 15px;
    position: relative;
    opacity: 0;
    transition: .1s;
}

.pregunta p i {
    font-size: 20px;
    color: #6b46aa;
}

.pregunta:hover p {
    opacity: 1;
    transition: 1s;
}

/* footer */

.dividir {
    max-height: 700px;
    padding: 50px;
    background-color: var(--color-box);
    box-shadow: var(--color-shadow-modal);
    width: 90vw;
    gap: 150px;
    margin: 50px auto;
    display: flex;
    border-radius: 30px;
    justify-content: space-between;
}

.izq {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .izq h2 {
    color: var(--color-text-form-h2);
    position: relative;
    left: 60%;
    margin-bottom: 190px;
    bottom: 305px;
    font-size: 2rem;
    cursor: default;
    width: 300px;
}

footer .izq img {
    width: 450px;
    position: relative;
    left: 20%;
    top: 80px;
}

form {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 130px;
}

.nombre {
    width: 100%;
}

.correo {
    width: 100%;
}

.asunto {
    width: 100%;
}

.texta {
    width: 100%;
    justify-content: center;
}

.btnContent{
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    display: flex;
    cursor: default;
    margin-bottom: 5px;
    
}

form input {
    color: #6b46aa;
    background-color: var(--color-box);
    font-family: 'Poppins';
    width: 100%;
    height: 40px;
    margin: 0px auto;
    margin-bottom: 20px;
    border: solid 2px rgb(185, 185, 185);
    padding: 20px;
    border-radius: 20px;
    outline: none;
    transition: .5s;
}

input:hover {
    box-shadow: 0 0 10px #6b46aa;
}

input:focus {
    box-shadow: 0 0 10px #6b46aa;
}

form :not(:placeholder-shown):invalid{
    border-color: rgb(191, 109, 109);
    box-shadow: 0 0 .5rem rgb(204, 194, 51) ;
}

input:valid{
    box-shadow: 0 0 10px #6b46aa;
    border-color: #6b46aa;
}

form textarea {
    font-family: 'Poppins';
    width: 100%;
    height: 200px;
    margin: 0px auto;
    margin-bottom: 20px;
    background-color: transparent;
    border: solid 2px #6b46aa45;
    padding: 20px;
    border-radius: 20px;
    color: #6b46aa;
    transition: .5s;
    resize: none;
    outline: none;
}

textarea:hover {
    box-shadow: 0 0 10px #6b46aa;
}

textarea:focus {
    box-shadow: 0 0 10px #6b46aa;
}

textarea::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
   
}

textarea::-webkit-scrollbar-track {
    cursor: pointer;
    background: rgb(234, 234, 234);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #6b46aa60;
    border-radius: 20px;

}

textarea::-webkit-scrollbar-thumb:hover {
    background: #6b46aa;
}


.btnSub {
    cursor: pointer;
    width: 110px;
    height: 40px;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: #6b46aa;
    background-size: 300%;
    border: none;
    background-position: left center;
    transition: background .2s ease-out;
    font-family: 'Poppins';
    font-size: 14px;
}

.btnSub:hover {
    background-color: #884ede;
}

/* fin */

.fin {
    cursor: default;
    width: 100vw;
    margin: 0 auto;
    height: 250px;
    background: var(--color-box);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 2px var(--color-shadow-modal);
}

.imagRedes {
    display: flex;
}

.container-redes {
    width: 900px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.content-fin {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.content-fin p {
    font-size: 14px;
    color: #6b46aa;
}

.content-fin img {
    width: 100px;
    margin: 20px;
}

.redesS {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.redesS i {
    z-index: 2;
    font-size: 2.3rem;
    color: #6b46aa;
    transition: 1s;
}

.redesS a:hover .insta i {
    color: #ff8000; 
}

.redesS a:hover .facebook i {
    color: #1628ae;
}

.redesS a:hover .whatsapp i {
    color: #61a533;
}

/* ------------------- */
    /* Media Querys */
/* ------------------- */

/* laptop */

@media (max-width: 1450px){
    .text {
        font-size: 3.5rem;
    }
    .container a {
        bottom: 80px;
    }
    .text .span-4{
        font-size: 6rem;
        bottom: 125px;
    }
    .text .span-5{
        bottom: 103px;
    }
    .content-nosotros {
        min-height: 90vh;
    }
    .content-nosotros .efecto {
        min-height: 90vh;
    }
    #servicios {
        flex-direction: column;
        gap: 0px;
        margin-top: 50px;
    }
    .no-modal { 
        margin: 50px auto;
        margin-bottom: 50px;
        flex-direction: column;
    }
    .caja {
        justify-content: center;
        display: flex;
        flex-direction: row;  
    }
    .card-servi.active {
        left: 0;
        bottom: 50px;
    }
    .modal-1, .modal-2, .modal-3 {
        height: 400px;  
        justify-content: center;
        width: 85vw;
    }
    .modal-1 .content-ul {
        justify-content: center;
        gap: 50px;
    }
    .modal-1 .content-ul, .modal-2 .contentenido, .modal-3 .contentenido  {
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .grupoo-1, .grupoo-2  {
        flex-wrap: wrap;
        
    }

    .modal-1 .content-ul::-webkit-scrollbar {
        width: 6px;
        border-radius: 20px;
        
    }
    .modal-1 .content-ul::-webkit-scrollbar-track {
        cursor: pointer;
        background: #6b46aa3d;
        border-radius: 20px;
    }
    .modal-1 .content-ul::-webkit-scrollbar-thumb {
        cursor: pointer;
        background: #6b46aa;
        border-radius: 20px;
        
    }
    .modal-1 .content-ul::-webkit-scrollbar-thumb:hover {
        background: #6b46aa;
    }

    .modal-2 .contentenido::-webkit-scrollbar {
        width: 6px;
        border-radius: 20px;
    }
    .modal-2 .contentenido::-webkit-scrollbar-track {
        cursor: pointer;
        background: #6b46aa3d;
        border-radius: 20px;
    }
    .modal-2 .contentenido::-webkit-scrollbar-thumb {
        cursor: pointer;
        background: #6b46aa;
        border-radius: 20px;
    }
    .modal-2 .contentenido::-webkit-scrollbar-thumb:hover {
        background: #6b46aa;
    }
    .modal-3 .contentenido::-webkit-scrollbar {
        width: 6px;
        border-radius: 20px;
    }
    .modal-3 .contentenido::-webkit-scrollbar-track {
        cursor: pointer;
        background: #6b46aa3d;
        border-radius: 20px;
    }
    .modal-3 .contentenido::-webkit-scrollbar-thumb {
        cursor: pointer;
        background: #6b46aa;
        border-radius: 20px;
    }
    .modal-3 .contentenido::-webkit-scrollbar-thumb:hover {
        background: #6b46aa;
    }
    #pasos {
        margin: 50px auto;
    }
    .container-all a i {
        position: relative;
        opacity: 1;
        right: 4px;
    }
    .container-all a:hover i {
        top: 0px;
    }
    
    footer .izq img {
        width: 250px;
        top: 50px;
        left: 0;
    }
    footer .izq h2 {
        bottom: 0;
        top: 10px;
        left: 0;
    }
    .dividir {
        gap: 0;
        padding: 47px;
        justify-content: space-around;
        
    }
    form {
        min-width: 450px;
        padding-left: 100px;
        padding-right: 0px;
    }
    .izq {
        width: 600px;
    }
    .modal-1 .sube, .modal-2 .sube, .modal-3 .sube {
        display: block;
    }
}
@media (max-width: 1182px) {
    .container-pasos .paso-2 p  {
        bottom: 15px;
    }
}
@media (max-width: 975px) {
    form {
        min-width: 400px;
        padding-left: 30px;
        padding-right: 0px;
    }
}
@media (max-width: 875px) {
    form {
        min-width: 350px;
        padding-left: 30px;
        padding-right: 0px;
    }
}
@media (max-width: 824px) {
    form {
        min-width: 300px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .incon-scroll {
        display: block;
        left: 60px;
    }
}

/* tablet */

@media (max-width: 769px) {
    form {
        min-width: 280px;
        padding-left: 0px;
        padding-right: 0px;
    }
    footer .izq img {
        width: 200px;
    }
    .pregunta:hover {
        padding: 50px;
    }
}

@media (max-width: 745px) {
    .text {
        font-size: 2rem;
    }
    .container a {
        bottom: 0px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .container p {
        width: 300px;
        bottom: 0px;
        font-size: 13px;
    }
    .text .span-1{
        font-size: 1rem;
        border-radius: 15px;
        padding: 8px 9px;
        font-weight: 400;
        bottom: 5px;
        right: 5px;
    }
    .text .span-2{
        font-size: 1rem;
        border-radius: 15px;
        padding: 8px 9px;
        font-weight: 400;
        bottom: 5px;
        left: 5px;
    }
    .text .span-3{
        font-size: 1rem;
        border-radius: 15px;
        padding: 8px 9px;
        font-weight: 400;
        bottom: 25px;
        right: 47px;
    }
    .text .span-4{
        font-size: 3rem;
        bottom: 29px;
        left: -55px;
        font-weight: 550;
    }
    .text .span-5{
        bottom: 18px;
        left: -50px;
        
    }
    .card-servi {
        width: 90px;
        height: 75px;
        border-radius: 15px;
    }
    .card-servi .info {
        width: 90px;
        height: 75px;
        border-radius: 15px;
    }
    .dividir {
        flex-direction: column;
        padding: 20px;
    }
    footer .izq img {
        width: 150px;
        top: 10px;
        left: 0;
    }
    footer {
        display: flex;
        justify-content: center;
    }
    footer .izq {  
        width: 100%;
        height: 250px;
    }
    footer .izq h2 {
        font-size: 1.5rem;
        bottom: 0;
        top: -30px;
        left: 0;
    }
    form {
        margin-top: -20px;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;

    }
    form label {
        margin-bottom: 0px;
    }
    form input {
        margin-bottom: 10px;
        padding: 15px;
        height: 10px;
    }
    form textarea {
        padding: 10px;
        height: 125px;
        margin-bottom: 2px;
    }
    .container-preguntas-all {
   
        text-align: center;
        max-width: 100%;
    }
    .container-preguntas-1 {
        max-width: 100%;
        margin: 60px 20px;
    }
    nav {
        display: none;
    }
    .btnH {
        display: none;
    }
    .ham {
        display: block;
    }
    .container-pasos {
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

/* mobil */

@media (max-width: 480px){

    header {
        padding: 0 15px;
    }
    header h1 {
        font-size: 18px;
    }
    header .logo img {
        width: 35px;
        top: 8px;
    }

    header .logo .blanco {
        
        top: 38px;
    }

    .modosLunaSol {
        right: 90px;
        
    }

    .modosLunaSol .dark, .modosLunaSol .lite {
        color: var(--color-dark--lite-mobil);
    }

    .name {
        position: relative;
        bottom: 50px;
    }
    .container {
        padding-left: 20px;
        max-width: 400px;

    }
    .container a {
        top: 25px;
        right: 10px;
        padding: 1px 10px;
    }
    .container p {
        top: 20px;
        right: 10px;
        font-weight: 100;
        font-size: 10px;
    }
    .text  {
        text-align: center;
        max-width: 300px;
        font-size: 1.8rem;
    }
    .pre {
        position: relative;
        right: 40px;
    }
    .text .span-1{
        font-weight: 400; 
        right: 45px;
    }
    .text .span-2{
        bottom: 20px;
        left: 15px;
    }
    .text .span-3{
        font-size: 1rem;
        border-radius: 15px;
        padding: 8px 9px;
        font-weight: 400;
        bottom: -35px;
        right: 125px;
    }
    .text .span-4{
        left: 10px;
        bottom: 25px;
        font-size: 2.9rem;
    }
    .text .span-5{
        bottom: 48px;
        left: 10px;
        
    }
    .modal-1 .content-ul::-webkit-scrollbar {
        display: none;
    }
    .modal-2 .contentenido::-webkit-scrollbar {
        display: none;
    }
    .modal-3 .contentenido::-webkit-scrollbar {
        display: none;
    }
    #servicios {
        margin-top: 120px;
    }
    .content-nosotros {
        min-height: 40vh;
        opacity: var(--color-container-nosotros);
    }
    .content-nosotros .efecto {
        min-height: 40vh;
        background: radial-gradient(rgba(29, 27, 31, 0.859) 50px, rgba(33, 28, 33, 0.954) 30%, #000000 75%) ;
    }
    .cont {
        display: none;
    }
    .cont-small {
        display: block;
        text-align: center;

    }
    .no-modal { 
        margin: 0px auto;
    }
    .caja {
        gap: 15px;
        margin: 0px auto;
        margin-bottom: 80px;
    }
    .card-servi.active {
        bottom: 20px;
    }
    .card-servi {
        width: 90px;
        height: 75px;
        border-radius: 15px;
    }
    .card-servi .info {
        width: 90px;
        height: 75px;
        border-radius: 15px;
    }
    .modal-1, .modal-2, .modal-3 {
        height: 360px; 
        padding: 5px 0;
    }
    .modal-1 .content-ul {
        padding: 5px 50px;
        margin: 0;
    }
    .modal-1 p {
        text-align: center;
    }
    .modal-2 p, .modal-3 p {
        padding: 0 30px;
        text-align: center;
    }
    .modal-2 h4, .modal-3 h4 {
        padding: 0 25px;
    }
    #pasos {
        margin-top: 100px;
    }
    #pasos h2 {
        margin-top: 0;
        margin-bottom: -70px;
    }
    .container-pasos {
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-pasos .pasoComun {
        margin-top: 100px;
    }
    .container-pasos .pasoComun:nth-child(2), .container-pasos .pasoComun:nth-child(3) {
        margin-top: 50px;
    }
    .container-pasos .pasoComun p {
        text-align: center;
       
    }
    .container-preguntas-all {
   
        text-align: center;
        max-width: 100%;
        
    }
    .container-preguntas-1 {
        max-width: 100%;
        margin: 60px 20px;
    }
    .container-all {
        margin-top: 80px;
    }
    .container-all h2 {
        margin-bottom: -15px;
    }
    .pregunta:hover {
        padding: 20px;
    }
    .pregunta span {
        top: 40px;
    }
    .pregunta p {
        width: 300px;
        font-size: 12px;
    }
    .pregunta p i {
        display: none;
    }
    .dividir {
        flex-direction: column;
        padding: 20px;
    }
    footer .izq img {
        width: 150px;
        top: 10px;
        left: 0;
    }
    footer {
        display: flex;
        justify-content: center;
    }
    footer .izq {  
        width: 100%;
        height: 250px;
    }
    footer .izq h2 {
        font-size: 1.5rem;
        bottom: 0;
        top: -30px;
        left: 0;
    }
    form {
        margin-top: -20px;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;

    }
    form label {
        margin-bottom: 0px;
    }
    form input {
        margin-bottom: 10px;
        padding: 15px;
        height: 10px;
    }
    form textarea {
        padding: 10px;
        height: 125px;
        margin-bottom: 2px;
    }
    h2 {
        font-size: 2.5rem;
        padding: 0 30px;
    }
    .container-redes {
        width: 100px;
    }
    .redesS {
        width: 200px;
    }
}

@media (max-width: 360px) {
    .text {
        scale: .99;
    }
}


/* ------------------- */
    /* Animation Scroll */
/* ------------------- */

@keyframes showww {
    from {
        opacity: 0;
        transform: translateY(200px) scale(30%);
    }
    to {
        opacity: 1;
        transform: translateY(0px) scale(100%);
    }
}

.pasoComun p {
    view-timeline-name: --reveal;

    animation-name: showww;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 15% cover 30%;
}

@keyframes modales {
    from {
        opacity: 0;
        transform: translateY(200px) scale(30%);
    }
    to {
        opacity: 1;
        transform: translateY(0px) scale(100%);
    }
}

.modales, .dividir {
    view-timeline-name: --reveal;

    animation-name: modales;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 0% cover 20%;
}

@keyframes noModal {
    from {

        transform: translateY(200px) scale(30%);
    }
    to {

        transform: translateY(0px) scale(100%);
    }
}

#webCodeAll, #marketinAll, #manteServiAll {
    view-timeline-name: --reveal;

    animation-name: noModal;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 15% cover 30%;
}

@keyframes h4 {
    from {
        opacity: 0;
        
    }
    to {
        opacity: 1;
        
    }
}

h4, .modal-2 i, .modal-3 i {
    view-timeline-name: --reveal;

    animation-name: h4;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 15% cover 50%;
}

@keyframes liModal {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.modal-1 li, .modal-1 p, .modal-3 p, .modal-2 p {
    view-timeline-name: --reveal;

    animation-name: liModal;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 10% cover 50%;
}

@keyframes modalG2 {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.grupoo-2 p, .cont p, .cont-small p {
    view-timeline-name: --reveal;

    animation-name: modalG2;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 0% cover 20%;
}

@keyframes imgF{
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.izq img{
    view-timeline-name: --reveal;

    animation-name: imgF;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 0% cover 50%;
}

@keyframes h2F {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.izq h2{
    view-timeline-name: --reveal;

    animation-name: h2F;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 0% cover 50%;
}

@keyframes for {
    from {
        opacity: 0;
        transform: translateY(100px) scale(20%);
    }
    to {
        opacity: 1;
        transform: translateY(0px) scale(100%);
    }
}

.nombre, .correo, .asunto, .texta{
    view-timeline-name: --reveal;

    animation-name: for;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 0% cover 30%;
}
